main div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

main div[buttons] div {
    margin: 0 5px;
    border-radius: 3px !important;
    background: var(--blue);
}

main div[content] {
    font-size: 18px;
    font-weight: bold;
}

main div[failed] {
    margin: -5px 0 -5px 0;
    color: var(--red) !important;
}

div.disable {
    display: none;
}